.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 1.7vw;
    position: sticky;
    bottom: 0px;
    background-color: rgba(36, 0, 70, 0.8);
    padding-bottom: 10px;
    padding-top: 8px;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.firstlast {
    width: 9vw;
    height: 2.3vw;
    font-size: 1.5vw;
    background-color: #240046;
    border: 0.25vw solid #bbadff;
    color: #bbadff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.prevnext {
    width: 4vw;
    height: 2.3vw;
    font-size: 1.5vw;
    background-color: #240046;
    border: 0.25vw solid #bbadff;
    color: #bbadff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.container > input:hover {
    background-color: #bbadff;
    color: #240046;
    border: 0.25vw solid #240046;
}


.divpages {
    display: flex;
    gap: 0.5vw;
}

.nocurrent {
    width: 2.3vw;
    height: 2.3;
    font-size: 1.5vw;
    background-color: #240046;
    border: 0.25vw solid #bbadff;
    color: #bbadff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nocurrent:hover {
    background-color: #bbadff;
    color: #240046;
    border: 0.25vw solid #240046;
}

.current {
    width: 2.3vw;
    height: 2.3vw;
    font-size: 1.5vw;
    background-color: #bbadff;
    color: #240046;
    border: 0.25vw solid #240046;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}