
.landing {
    background-image: url('../../assets/images/gb-12.jfif');
    height: 100vh;
    background-size: 100vw 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9vh;
    left: 18vw;
    width: 35vw;
}

.title {
    color: #ffff3f;
    font-size: 20px;
}

.title > h2 {
    margin-top: 10px;
}

.title > img {
    width: 100%;
}

.linkhome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
    color: #240046;
    width: 130px;
    height: 30px;
}

.linkhome p {
    width: 100%;
    height: 100%;
    border: 3px solid #5a189a;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.linkhome :hover {
    background-color: #5a189a;
    color: #4cc9f0;
    transition: 0.5s;
    border: #4cc9f0 solid 3px;
}

@media (max-width: 680px) {
    .landing {
        background-image: url('../../assets/images/bg-5.jfif');
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        margin-top: 15vh;
        position: initial;
        gap: 35px;
    }
    .title > h2 {
        width: 60vw;
        margin-top: 25px;
    }
    .linkhome {
        background-color: rgba(76, 201, 240, 0.4);
        border-radius: 14px;
    }
}
