.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/images/gb-11.png");
    background-size: cover;
    height: calc(100vh - 5.25vw);
}

.header {
    display: flex;
    align-items: center;
    width: 75vw;
    height: 10vh;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    padding-top: 2vw;
}

.header input {
    margin-right: 6vw;
    width: 10%;
    height: 50%;
    font-size: 50%;
}

.header input:hover {
    background-color: #240046;
}

.header h1 {
    font-size: 4vw;
    font-weight: bold;
    text-shadow: whitesmoke 0 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 9, 108, 0.6);
    color: whitesmoke;
    width: 75vw;
    border: 0.35vw solid whitesmoke;
    border-radius: 2vw;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.formbody {
    display: flex;
}

.nameitem {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 1.5vw;
    font-weight: bold;
}

.inputname {
    height: 2vw;
    width: 20vw;
    font-size: 1.5vw;
    border-radius: 5px;
    border: 1px solid black;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 1.5vw;
    font-weight: bold;
}

.input {
    height: 2vw;
    width: 18vw;
    font-size: 15;
    border-radius: 5px;
    border: 1px solid black;
}

.labelstat {
    width: 8vw;
}

.inputnumber {
    width: 15vw;
    height: 1.5vw;
    font-size: 1.3vw;
    border-radius: 5px;
    cursor: pointer;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.showtypes {
    width: 100px;
    height: 30px;
    background-color: #240046;
    border: 2.5px solid whitesmoke;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.showtypes:hover {
    background-color: #8367c7;
}

.types {
    position: relative;
    display: flex;
    flex-direction: column;
}

.selectedtypes {
    display: flex;
    gap: 10px;
}

.typeslist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: absolute;
    left: 100px;
    top: 0;
    background-color: rgba(36, 0, 70, 0.8);
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
}

.typebtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    border: 1.5px solid whitesmoke;
    background-color: #b185db;
    transition: 0.5s;
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    height: 25px;
}

.divtype {
    display: flex;
    flex-direction: row;
}

.typebtn:hover {
    background-color: #6d23b6;
}

.typebtn  input {
    width: 15px;
}

.typeselected {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid #ff8500;
    background-color: #35034f;
    width: 100px;
    height: 25px;
    color: whitesmoke;
    font-size: 15px;
}

.typeselected input {
    width: 15px;
}

.typeselected:hover {
    background-color: #6a040f;
}



.imagebox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 28vw;
    font-size: 1.5vw;
    font-weight: bold;
    gap: 8px;
}

.inputimg {
    height: 90px;
    width: 12vw;
    font-size: 1.5vh;
    border-radius: 5px;
    border: 1px solid black;
    resize: none;
}

.itemimg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8px;
}

.inputimgbox {
    position: relative;
    width: 100%;
}

.clear {
    cursor: pointer;
    color: red;
    background-color: #c9c5cf;
    border-radius: 50%;
    width: 20px;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 18px;
}

.itemimg img {
    max-width: 13vw;
    max-height: 13vw;
    border-radius: 1.7vw;
}


.submit {
    display: flex;
    justify-content: flex-end;
    height: 2.5vw;
    width: 12vw;
    margin-left: 12vw;
    padding-bottom: 10px;
}

.submit input {
    height: 100%;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 1vw;
    background-color: #33521c;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 1vw;
    border: 0.25vw solid whitesmoke;
}

.submit input:hover {
    background-color: #a9d126;
    color: black;
}

@media (min-width: 980px) {
    .header {
        margin-top: 0vh;
    }
}


@media (max-width: 815px) {
    .header {
        width: 90vw;
    }
    
    .header input {
        margin-right: 6vw;
        width: 20%;
        font-size: 70%;
    }
    .header h1 {
        font-size: 1.3rem;
    }
    
    .container {
        width: 95vw;
        border: 2px solid whitesmoke;
        border-radius: 20px;
    }
    .form {
        width: 100%;
    }

    .formbody {
        flex-direction: column;
        width: 100%;
    }

    .group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .nameitem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 15px;
        width: 100%;
        height: 20px;
    }
    
    .inputname {
        height: 100%;
        width: 70%;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid black;
    }

    .imagebox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        gap: 8px;
    }
    
    .inputimg {
        height: 40px;
        width: 100%;
        font-size: 10px;
        border-radius: 5px;
    }
    
    .itemimg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 70%;
    }
    
    .clear {
        right: 5px;
    }

    .imgcontainer {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    
    .imgcontainer img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }

    .types {
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .showtypes {
        width: 100px;
        height: 35px;
        background-color: #1b0033;
        border: 2.5px solid whitesmoke;
        border-radius: 10px;
        margin: 0;
    }
    
    .selectedtypes {
        display: flex;
        gap: 10px;
    }
    
    .typeslist {
        gap: 10px;
        left: 0;
        top: 35px;
        padding: 10px;
        border-radius: 10px;
        border-top-left-radius: 0;
    }
    
    .typebtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        border: 1.5px solid whitesmoke;
        font-size: 12px;
        width: 70px;
        height: 25px;
    }
    
    .divtype {
        display: flex;
        flex-direction: row;
    }
    
    .typebtn  input {
        width: 12px;
    }
    
    .typeselected {
        border-radius: 10px;
        border: 1.5px solid #ff8500;
        width: 70px;
        height: 25px;
        color: whitesmoke;
        font-size: 12px;
    }
    
    .typeselected input {
        width: 12px;
    }
    
    .selectedtypes {
        padding: 0;
    }
    
    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 100%;
        height: 20px;
    }

    .item > input {
        height: 100%;
        width: 60%;
    }
    
    .labelstat {
        padding-right: 20px;
    }

    .submit {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 100%;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .submit input {
        height: 100%;
        width: 70%;
        font-size: 20px;
        border-radius: 15px;
        border: 2px solid whitesmoke;
    }
}