.mypokemons {
    background-image: url("../../assets/images/bg-6.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 5.25vw);
}

.title {
    font-size: 4vw;
    text-shadow: whitesmoke 0 0 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    border-bottom: 3px solid black;
}

.pokemons {
    padding-top: 40px;
    padding-bottom: 30px;
}

.backbtn {
    height: 35px;
    width: 100px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    cursor: pointer;
    background-color: #7b2cbf;
    color: whitesmoke;
    font-size: 1.2vw;
}

.backbtn:hover {
    background-color: #240046;
}

.deletebtn {
    font-size: 1.3vw;
    height: 2.3vw;
    width: 13vw;
    border-radius: 14px;
    cursor: pointer;
    background-color: #800c0e;
    color: whitesmoke;
    border: solid #220901 0.2vw;
}

.deletebtn:hover {
    background-color: #be252a;
}


@media (max-width: 600px) {
    .mypokemons {
        background-image: url("../../assets/images/gb-7.jfif");
    }
    .header {
        width: 95vw;
        border-bottom: 1.5px solid rgb(56, 4, 71);
        padding-bottom: 10px;
    }
    .title {
        font-size: 7vw;
        padding-bottom: 10px;
    }
    .pokemons {
        padding-top: 10px;
    }
    .backbtn {
        width: 20vw;
        height: 10vw;
        font-size: 3vw;
    }
    .deletebtn {
        font-size: 2.3vw;
        height: 10vw;
        width: 25vw;
    }
}