.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #7b2cbf;
    height: 5vw;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 0.25vw solid #240046;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}




.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.5vw;
}

.title {
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    color: whitesmoke;
    width: 20vw;
}

.maintitle {
    height: 3vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: start;
    padding-bottom: 0;
}

.sectitle {
    height: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: start;
}

.landicon {
    width: 4vw;
    height: 4vw;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 100%;
    background-color: #3c096c;
    font-size: 1.5vw;
}

items Link {
    padding: 1px;
}

.homebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    height: 100%;
    border-left: 2px solid #240046;
}

.homebtn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.homebtn :hover {
    background-color: black;
    transition: 0.5s;
}

.lastbtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    height: 100%;
    border-left: 2px solid #240046;
    border-right: 2px solid #240046;
}

.lastbtn1 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lastbtn1 :hover {
    background-color: black;
    transition: 0.5s;
}

.lastbtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #030500;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #3c096c;
    height: 100%;
    border-left: 2px solid #5a189a;
    border-right: 2px solid #5a189a;
    padding-left: 5px;
    padding-right: 5px;
}

.nocurrent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3c096c;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    height: 100%;
    border-left: 2px solid #240046;
}

.nocurrent span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nocurrent :hover {
    background-color: black;
    transition: 0.5s;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #030500;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #3c096c;
    height: 100%;
    border-left: 2px solid #5a189a;
    border-right: 2px solid #5a189a;
    padding-left: 5px;
    padding-right: 5px;
}

.search {
    margin-right: 30px;
}






