.filtersbtn {
    position: fixed;
    top: 45vh;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.slideinbtn {
    transform: translateX(18.5em);
    animation: slideinbtn 0.5s;
}

.slideoutbtn {
    animation: slideoutbtn 0.5s;
}

@keyframes slideinbtn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(18.5em);
    }
}

@keyframes slideoutbtn {
    from {
        transform: translateX(18.5em);
    }
    to {
        transform: translateX(0);
    }
}

.filterscontainer {
    position: fixed;
    top: 25vh;
    left: -19.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 9, 108, 0.9);
    padding: 0.5em;
    border-radius: 20px;
    border: 0.25em solid whitesmoke;
    z-index: 1;
    width: 18em;
}


.slidein {
    transform: translateX(calc(19.5em + 15px));
    animation: slidein 0.5s;
}

.slideout {
    transform: translateX(calc(-19.5em - 15px));
    animation: slideout 0.55s;
}

@keyframes slidein {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(19.5em + 15px));
    }
}

@keyframes slideout {
    from {
        transform: translateX(calc(19.5em + 15px));
    }
    to {
        transform: translateX(0);
    }
}

.hidden {
    display: none;
}

.showfilters {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: #240046;
    color: whitesmoke;
    padding: 3px;
    padding-top: 10px;
    border-radius: 4px;
    width: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    margin-left: -1px;
    color: whitesmoke;
    font-size: 17px;
    text-align: center;
    background-color: #240046;
    border-radius: 0px 6px 6px 0px;
    padding: 2px;
}

.invertarrow {
    margin-left: -1px;
    color: whitesmoke;
    font-size: 17px;
    text-align: center;
    background-color: #240046;
    border-radius: 6px 0px 0px 6px;
    transform: rotate(180deg);
    padding: 2px;
}


.showfilters:hover {
    background-color: #9d4edd;
}


.title {
    color: whitesmoke;
    font-size: 25px;
    height: 50px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    border-top: 1px solid whitesmoke;
}

.divreset {
    height: 70px;
    position: relative;
    top: 25px;
}

.divreset :hover {
    cursor: pointer;
    background-color: #f95738;
    transition: 0.5s;
}

.divreset > input {
    height: 35px;
    background-color: #ffd60a;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid black;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid whitesmoke;
}

.label {
    font-size: 20px;
    font-weight: bold;
    width: 7em;
}

.select {
    height: 30px;
    border-radius: 8px;
    width: 6em;
}

.select > option {
    height: 30px;
    font-size: 15px;
}


